* {
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.hero {
	height: 738px;
	width: auto;
	align-items: center;
}

.hero-image {
	display: inline-block;
	border-radius: 24px;
	border: solid 0.1px #B2B2B2;
	box-shadow: 0 3px 18px rgba(0, 0, 0, 6%);
	height: 460px;
	width: 460px;
	background-color: #ffffff;
	padding: 0;
}

.knap-1 {
	display: flex;
	border-radius: 14px;
	justify-content: center;
	align-items: center;
	height: 49px;
}

.knap-2 {
	display: flex;
	border-radius: 14px;
	justify-content: center;
	align-items: center;
	height: 49px;
}
a{
	text-decoration: none;
}